/* default font choices */
@font-face{
    font-family: "HK-Grotesk";
    src: url('../fonts/hkgrotesk-regular.otf'),
    url('../fonts/hkgrotesk-regular.eot'); /* IE */
}

@font-face{
    font-family: "HK-Grotesk-Light";
    src: url('../fonts/hkgrotesk-light.otf'),
    url('../fonts/hkgrotesk-regular.eot'); /* IE */
}

@font-face{
    font-family: "HK-Grotesk-Light";
    src: url('../fonts/hkgrotesk-lightitalic.otf'),
    url('../fonts/hkgrotesk-regular.eot'); /* IE */
    font-style: italic;
}


@font-face{
    font-family: "HK-Grotesk";
    src: url('../fonts/hkgrotesk-bold.otf'),
    url('../fonts/hkgrotesk-bold.eot'); /* IE */
    font-weight: bold;
}

@font-face{
    font-family: "Garogier";
    src: url('../fonts/garogier.ttf'),
    url('../fonts/garogier.eot'); /* IE */
}

body {
 width: 100%;
 padding: 0px;
 margin: 0px;
}
.topheader {
    font-family: Garogier, serif;
    padding: 10px 16px 5px 16px;
    font-size: 40px;
    z-index: 10;
    height: 50px;
    background-color: white;
}

.topheader a {
    color: black;
    text-decoration: none;
}

.topheader a:hover {
    color: #808080;
    text-decoration: none;
}

/* fixed nav bar position */
.fixed {
    position: fixed; 
    overflow: hidden;
	top: 0; 
	z-index: 10;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(241, 241, 241);
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07), 0 10px 10px 0 rgba(0, 0, 0, 0.03);
    z-index: 10;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #808080;
    text-align: center;
    padding: 10px 20px 8px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: HK-Grotesk-Light, Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .headerImage {
        background-image: url("../images/casual_compressed.jpg");
        background-color: #FFFFFF;
        height: 400px;
        margin: 0px auto 0 auto;
        background-size: 100%;
        text-align: left;
    }
}
  

/*accent color */
.accent {
    color: #ff7f2a;
    text-decoration: none;
}
a:hover {
    color: #FF6F15;
}

a {
    color: #FA995C;
    text-decoration: none;
}
.contactMain {
    text-align: center;
    margin-top: 50px;
}
#contactText {
    font-size: 36px;
    margin-left: 30px;
    margin-right: 30px;
}
.mainText {
    margin: auto;
    margin-top: -110px;
    z-index: -10;
    min-height: 100%;
    position: absolute;
    align-content: center;
    width: inherit;
}

h1 {
    font-family: HK-Grotesk, Helvetica, sans-serif;
    font-size: 160px;
    color: #FFFFFF;
    padding-top: 260px;
}
p {
    font-family: HK-Grotesk, Helvetica, sans-serif;
    font-size: 18px;
}
.headerImage {
    background-image: url("../images/backdrop_compressed.jpg");
    background-color: #FFFFFF;
    height: 400px;
    margin: 0 auto 0 auto;
    background-size: 100%;
    text-align: left;
}
/* When the screen is less than 1000 pixels wide, change contact image to better fit dimension*/
@media screen and (max-width: 1000px) {
    .headerImage {
        background-image: url("../images/casual.jpg");
        height: 300px;
        margin: 0px auto 0 auto;
        background-size: 100%;
        text-align: left;

    }
    h1 {
        font-family: HK-Grotesk, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 100px;
        color: #FFFFFF;
        padding-top: 215px;
    }
}

.aboutText h2 {
    font-family: HK-Grotesk-Light, Helvetica, sans-serif;
    font-size:100px;
    padding: 0;
    margin: 0;

}
.aboutText {
    float: left;
    width: 40%;
    position: relative;
    padding: 10%;
    padding-top: 15%;
    padding-right: 5%;
}

#profile {
    width: 27%;
    border-radius: 50%;
    float: right;
    margin-right: 15%;
    margin-top: 15%;
    position: relative;
}

/* mobile about page */
@media screen and (max-width: 800px) {
    #profile {
        width: 60%;
        border-radius: 50%;
        margin-right: 20%;
        margin-top: 140px;
        position: relative;
    }
    .aboutText {
        width: 80%;
        position: relative;
        padding: 10%;
        padding-right: 5%;
    }
}

#blogBackground {
    background-color:rgb(251, 251, 251); 
    padding-top: 0px;
}

.reblogText {
    background-color: white; 
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    padding: 30px;
    padding-top: 90px;
    min-height: 500px;
    margin-top: 110px;
    margin-bottom: 40px;
}

h3 {
    font-family: HK-Grotesk-Light, Helvetica, sans-serif;
    text-decoration: overline;
    font-size:40px;
    padding: 5px 10px 0px 16px;
    margin: 0;
    float: left;
}
.blogAbout {
    font-family: HK-Grotesk-Light, Helvetica, sans-serif;
    float: left;
    color: #9C9C9C;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 14px;
    margin-top: 28px;
}

#refresh {
    float: none;
    margin-top: -5px;
    color: black;
}
.reblogText h2 {
    font-family: Garogier, serif;
    font-size:60px;
    padding: 0;
    margin: 0;
}
hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
 }
.reblogText a {
    font-family: HK-Grotesk-Light, Helvetica, sans-serif;
    font-size:20px; 
    margin: 0;
    padding: 0;
}

.reblogText p {
    margin: 0;
    padding: 0;
}

.reblogText h4 {
    margin: 0;
    padding: 0;
    color: #808080;
    padding-top: 20px;
}

/* mobile reblog page */
@media screen and (max-width: 800px) {
    .reblogText {
        background-color: white; 
        margin-left: 10%;
        margin-right: 10%;
    }
}
/* scrolled down to nav bar */
.scrolledDown {
    margin-top: -60px; 
}

/* scrolled down to nav bar */
.scrolledDownBlog {
    margin-top: 155px; 
}

/* scrolled down to nav bar */
.scrolledDownContact {
    margin-top: -70px; 
}

.footer {
    font-family: HK-Grotesk-Light, Helvetica, sans-serif;
    font-size:12px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #808080;
}